body{
    background-color:cornflowerblue
}
h1{
    padding-top: 70px;
    font-family: 'Comic Sans MS';
    text-align: center;
    color: greenyellow;
}
table{
    padding-top: 100px;
    color: greenyellow;
    font-family: 'Comic Sans MS';
    font-size: 1,5em;
    margin: 0 auto;
}
input{
    border-color: greenyellow;
}
textarea{
    border-color: greenyellow;
    border-style: groove;
}
.cuadro{
    height: 100px;
}
.boton{
    background-color: greenyellow;
    color: black;
    border: 2px ridge;
    margin: 10px;
}
.nombre{
    text-align: right;
    font-weight: bold;
}
tr,td{
    padding: 5px;
}
input[type="reset"]{
    margin-left: 40px;
}
footer{
    padding-right: 40px;
    text-align: right;
}